/***********Footer**************/
footer{
    text-align: center;
    background: #bb8a2f;
    padding: 1vw;   
}

.footer_text{
    font-size: 0.8rem;
    font-style: italic;
    position: sticky;
    top: 0;
    z-index: 1020;
}

