
/***************Logo*******************/
.Container-Logo img {
    width: 80px;    
    margin-left: 2rem;
    transition: all 0.3s linear;
}

.Container-Logo img:hover {
    transform: scale(0.9);
}


/***********Barra Navegación**************/

.navbar {
    background-color:black;
    font-family: sans-serif;
    font-size: 1.3em;
    text-align: center;
    align-items: center;
    display: flex;
    padding: 1rem;
    margin-bottom: 3rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15)
}

.navSticky {
    position: sticky;
    top: 0;
    z-index: 1020;
}

.nav {
    margin-left: auto;
    margin-right: 3rem;
    transition: padding-top 0.3s, padding-bottom 0.3s;
}

.mensaje{
    text-align: center;
    color:white;
}
