* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0px;
}
main {
    margin: 1vw;
    padding: 2vw;
}

.banner {
    text-align:center;
    background-color: gray;
    padding: 3vw;
    font-size: 1.3rem;
    font-style: italic;
    margin: 2px;
}

.container {
    display: flex;
    flex-direction: column;
    background-color:black;
    margin: 2px;
    padding: 1vw;  
    align-items: center;
    justify-content: center;
}
button{
    font-size: 4rem;
    width:15vw;
    height: 10vw;
    padding: 1vw;   
}

section{
    margin: 1vw;
    padding: 1vw;
}

#n1, #n2{
   font-size: 5vw;;
   width:30.1vw;
   height: 8vw;
   text-align:center;
}